<?php
$collections = $this->getCategoryTileCollection();
$helper = Mage::helper('mr_homecategorytile');
?>
<?php if($collections) :?>
  <div class="mr_home_category_tiles">
<?php foreach($collections as $category) : ?>

  <div class="home_category_tile">
    <a class="category_tile_link <?php echo 'hometile-'.$category->getId() ?>" href="<?php echo $helper->getCategoryHomeTileCustomUrl($category) ?>">
      <?php $tileImage = '' ?>
      <?php if($tileImage = $helper->getCategoryHomeTileImageUrl($category)) :?>
      <img src="<?php echo $tileImage ?>" alt="<?php echo $category->getName() ?>">
        <p><?php echo $category->getName() ?></p>
      <? else: ?>
      <p><?php echo $category->getName() ?></p>
      <?php endif; ?>
    </a>
  </div>
<?php endforeach; ?>
  </div>
<?php endif ;?>
